
{% extends 'privado/base.html' %}

{% block conteudo %}

    <div class="filter-group">
      <label class="group-label">Público-Alvo</label>
      <div class="checkbox-list">
        <label class="checkbox-item"><input type="checkbox" checked /> Discente</label>
        <label class="checkbox-item"><input type="checkbox" checked /> Docente</label>
        <label class="checkbox-item"><input type="checkbox" checked /> Externo</label>
        <label class="checkbox-item"><input type="checkbox" /> Servidor</label>
      </div>
    </div>

{% endblock %}